cmake.bin=/usr/bin/cmake
cmake.build.type=Release
cmake.cache.file=${basedir}/config/linux/CMakeCache.txt
cmake.cores=4
cmake.generator=Unix Makefiles
cmake.project.name=QtSampleProject
branch.name=attgenie-QtSampleProject
dir.build=${basedir}/build
dir.data=${basedir}/data
dir.doc=${basedir}/doc
dir.install=${dir.build}/Output
dir.log=${basedir}/logs
dir.scripts=${basedir}/bin
dir.src=${basedir}/src
log.file=linux.${branch.name}.log
log.level=info